<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] </title>
    <style>
        .header {
            color: cadetblue;
        }

        .footer {
            text-align: center;
            font-size: small;
        }
    </style>
</head>
<body>
    <h1 class="header">Razor Pages tutorial</h1>
    <hr />

    @RenderBody()

    <hr />
    <h2 class="footer"> @DateTime.Now.Year</h2>
    @RenderSection("Scripts", false)
</body>
</html>