@page
@{

    ViewData["Title"] = "Index";
}
@section Scripts {
    <script>
        window.alert("xin chào");
    </script>
}
<p>
    I found out I might have cancer. I have a tumor the size of banana slice in my thyroid. It has been driving me nuts because cancer killed my mother. I need a distraction and can't decide on a book.

</p>

