@page

@model Razor05.Pages.IndexModel

<div>
    <h2>@Model.SayGoodbye()</h2>
    <div>
        <div><label>First name:</label>@Model.FirstName</div>
        <div><label>Last name:</label>@Model.LastName</div>
    </div>
</div>